@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;

  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.modal-mask {
  @apply absolute left-0 top-0 right-0 bottom-0 h-full z-50;
}

.ekyc-card .card-title {
  margin-bottom: 0 !important;
}

:root {
  --toastify-color-info: #2094f3;
  --toastify-color-success: #199759;
  --toastify-color-warning: #ff9900;
  --toastify-color-error: #f22510;
}

.vertical-crop .ReactCrop,
.vertical-crop .ReactCrop > div,
.vertical-crop .ReactCrop__image {
  height: 100%;
}
